<mat-grid-list cols="4" rowHeight="100">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <label>{{placeholder}}:</label>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field appearance="fill">
      <input matInput type="number" [(ngModel)]="passwordLength" placeholder="{{placeholder}}">
    </mat-form-field><br>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <!-- INCLUDE SYMBOLS -->
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <label>Include Symbols:</label>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-checkbox [(ngModel)]="includeSymbols">
      (e.g. $%@)</mat-checkbox>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <!-- INCLUDE NUMBERS -->
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <label class="checkbox-css">Include Numbers:</label>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-checkbox [(ngModel)]="includeNumbers">(e.g. 123)</mat-checkbox>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <!-- INCLUDE LOWER CASE -->
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <label class="checkbox-css">Include Lower Case </label>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-checkbox [(ngModel)]="includeLowerCase">(e.g. abc)</mat-checkbox>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <!-- INCLUDE UPPER CASE -->
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <label class="checkbox-css">Include Upper Case </label>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-checkbox [(ngModel)]="includeUpperCase">(e.g. ABC)</mat-checkbox>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <!-- GENERATE PASSWORD BUTTON -->
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button [disabled]="passwordLength < 1 || !generatePassword" (click)="generatePassword()">Generate
      Password</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <input type="text" [(ngModel)]="generatedPassword" readonly>
    <button mat-icon-button class="menu-icon" aria-label="Menu icon">
      <mat-icon>file_copy</mat-icon>
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button (click)="resetForm()">Clear Password</button>
  </mat-grid-tile>
</mat-grid-list>